@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse-ring {
    0% { transform: scale(.33); }
    80%, 100% { opacity: 0; }
}
@keyframes pulse-dot {
    0% { transform: scale(.8); }
    50% { transform: scale(1); }
    100% { transform: scale(.8); }
}
